auto-save-list/
eshell/
elpa/
project-explorer-cache/
backups/
tmp/
server/
.places
bookmarks
url
url/cookies
ac-comphist.dat
tramp
recentf
ido.last
/server/server
/projectile-bookmarks.eld
/projectile.cache
/user-custom
/history

