[submodule "site-lisp/Indium"]
	path = site-lisp/Indium
	url = https://github.com/kimgronqvist/Indium
[submodule "site-lisp/eslintd-fix"]
	path = site-lisp/eslintd-fix
	url = https://github.com/kimgronqvist/eslintd-fix
